<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add New Plants</h1>
        <div style="width: 50%; margin: 30px auto;">
            <form action="/aquariums/<%= aquarium._id %>/plants" method="POST">
                <div id="inputs">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <span>Species:</span>
                            <input class="form-control" type="text" name="species[0]" required></input>
                        </div>
                        <div class="form-group col-md-2 col-md-offset-1">
                            <span>Count:</span>
                            <input class="form-control" type="number" name="speciesCounts[0]" required></input>
                        </div>
                    </div>
                </div>
                <button type="button" id="addInput" style="margin-bottom:20px;" class="btn btn-md btn-success">Add Another Plant</button>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary" style="width: 50%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function removeInput(input) {
        input.remove();
    }

    document.getElementById("addInput").onclick = (function() {
        var inputCount = 0;
            return function() {
                inputCount++;
                var container = document.createElement("div");
                container.id = "input" + inputCount;
                container.classList.add("row");
                container.innerHTML = '<div class="form-group col-md-8"><span>Species:</span><input class="form-control" type="text" name="species[' + inputCount + ']" required></input></div><div class="form-group col-md-2 col-md-offset-1"><span>Count:</span><input class="form-control" type="number" name="speciesCounts[' + inputCount + ']" required></input></div><button class="btn btn-sm btn-danger col-md-1" style="margin-top:3.5%;" type="button" onclick="removeInput(this.parentNode)"><strong><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></strong></button>';
                document.getElementById("inputs").appendChild(container);
            };
    })();
</script>

<% include ../partials/footer %>